.channels-nav {
    width: 20vw;
    background-color: #4d3946;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 10vh;
    bottom: 0px;
    display: inline-block;
}

.channels-nav-header {
    width:100%;
    text-align: left;
    color: #ab9ba9;
    margin: 20px 20px 5px 15px;
}

.channels-nav-element {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    color: #ab9ba9;
    padding: 5px;
    margin: 5px 20px 5px 25px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.channels-nav-element:hover {
    background-color: #3e313c;
}